# App
PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=B0o-pKL5cAbL8EgHC_hj4klsLLNHsKGB
DRIVE_DISK=local

# Database
DB_CONNECTION=pg
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DB_NAME=care_ie_db_development
PG_DB_DEBUG=true
